.dropdown{
    background-color: blue;
    width: 100px;
    text-align: center;
    padding: 0.5rem;
    color: white;
    height: 50px;
}

.dropdown > div{
    padding: 1rem;
    cursor: pointer;
    position: relative;
    background-color: rgb(38, 38, 181);
    transition: 1s;
}

.dropdown > div:first-child{
    background-color: rgb(8, 8, 149);
    z-index: 1;
}

.dropdown > div:nth-child(2){
    top: -50px;
} 
.dropdown > div:nth-child(3){
    top: -100px;
}
.dropdown > div:last-child{
    top: -150px;
}

.dropdown:hover > div{
    top: 0;
}

.dropdown > div:hover:not(.dropdown > div:first-child){
    background-color: rgb(68, 142, 206);
}